{% assign post = page %}

{% if post.tags.first %}
  {% assign related_posts = site.tags[post.tags.first] | where_exp:"post", "post.url != page.url" %}
{% else %}
  {% assign related_posts = site.related_posts %}
{% endif %}

<input type="hidden" text="{{related_posts.size}}"/>

{% if related_posts.size > 0 %}

<aside class="related mb4" role="complementary">
  <h2 class="hr-bottom">{{ site.data.strings.related_posts | default:"Related Posts" }}</h2>

  <ul class="related-posts">
    {% for post in related_posts limit:3 %}
      {% if post %}
        {% include_cached components/post-list-item.html post=post %}
      {% else %}
        <li>Post with path <code>{{ post_path }}</code> not found.</li>
      {% endif %}
    {% endfor %}
  </ul>
</aside>
{% endif %}